
<ion-header>
  <ion-navbar>
    <ion-title>{{'show_variation_title'|translate}}</ion-title>
    <ion-buttons right>
      <button class="button" ion-button (click)="dismis()" small>Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-spinner name="circles" *ngIf="variation == 0">
      </ion-spinner>
      <ion-list class="list-ios">
        <button ion-item menuClose (click)="addtocart(product)" *ngFor="let row of product" class="item-ios">
          <ion-avatar item-start>
            <img src="{{row.images[0].src}}">
          </ion-avatar>
          {{row.name}}
        </button>
      </ion-list>

</ion-content>
