<ion-header>
  <ion-navbar>
    <ion-title>{{'show_variation_title'|translate}}</ion-title>
    <ion-buttons right>
      <button class="button" ion-button (click)="dismis()" small>Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let row of product" padding>
    <h2>
      {{row.name}}
    </h2>
    <ion-card-content>
      <img src="{{row.images[0].src}}" />
    </ion-card-content>
    <ion-row no-padding text-center>
      <button ion-button full [color]="setColor" (click)="addtocart(row)">
        <ion-icon name='cart'></ion-icon>
        Add to Cart
      </button>

    </ion-row>
  </ion-card>

  <!-- <ion-spinner name="circles" *ngIf="variation == 0">
      </ion-spinner>
      <ion-list class="list-ios">
        <button ion-item menuClose (click)="addtocart(row)" *ngFor="let row of product" class="item-ios">
          <ion-avatar item-start>
            <img src="{{row.images[0].src}}">
          </ion-avatar>
          {{row.name}}
        </button>
      </ion-list> -->

</ion-content>