productloop {
    .soldout {
        padding: 5px 8px;
        text-align: center;
        background: #F44336;
        color: white;
        font-weight: bold;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 12px;
        z-index: 9;
    }

    /* Larger than a phone */
@media (min-width: 567px) {
    img.product_images{
        width:auto;height:20rem;margin:auto;
    }
  }
  
  /* Small devices such as phone */
  @media (max-width: 567px) {
    img.product_images{
        width:auto;margin:auto;
    }
  }
    
}

.card-subtitle ins span.woocommerce-Price-amount.amount{
    right: 10px;
position: absolute;
font-size: 16px;
font-weight: bold;
color: #d94239;
text-decoration: underline;
}