page-product-detail {
    .bannerslider{
        height:40%;
        border:0px solid #cccccc;
    }

    .clsdescription  img{
        height:auto !important;
        
    }
    .clsdescription p{
        white-space: normal;
    }

     div ins span.woocommerce-Price-amount.amount{
     right: 10px;
    position: relative;
    font-size: 16pt;
    font-weight: bold;
    color:#d94239;
    text-decoration: underline;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 0px !important;
    }
    
}
