<ion-header>
    <ion-navbar>
      <ion-buttons left class="hmenu" >
       <!-- <button ion-button (click)="goBack()" class="hmenu" >
          <ion-icon name="arrow-back"></ion-icon>
        </button>-->
           <button ion-button (click)="showmenu()">
            <ion-icon  name="list"></ion-icon>
          </button>
        </ion-buttons>
      <ion-title mode="ios">{{category_name}}</ion-title>
      <ion-buttons right>
          <button ion-button  (click)="toggle()">
            <ion-icon name="search" ></ion-icon>
            
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
 
  <ion-content>
      <ion-searchbar *ngIf="toggled" [(ngModel)]="someValue" (ionInput)="searchThis($event)" (ionCancel)="cancelSearch($event)" (ionClear) = "cancelSearch($event)" [showCancelButton]="true"></ion-searchbar>
      <ion-grid>
          <ion-spinner name="circles" *ngIf="product == 0">
            </ion-spinner>
        <ion-row *ngFor="let row of grid">
          <ion-col width-50 *ngFor="let key of row">
          <div *ngIf="key">
           <productloop  images="{{key.images[0].src}}" id="{{key.id}}" name="{{key.name}}" price="{{key.price}}" sale-price="{{key.sale_price}}" regular-price="{{key.regular_price}}" priceHtml="{{key.price_html}}"></productloop>
           </div>
          </ion-col>
        </ion-row>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasMoreData">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-grid>
    

     
  </ion-content>
 
 
  
 