<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title mode="ios">{{'shopping_title'|translate}}</ion-title>
    <ion-buttons right>
      <button ion-button  (click)="toggle()">
        <ion-icon name="search" ></ion-icon>
      </button>
     
      <qrscan></qrscan>
     
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-searchbar *ngIf="toggled" [(ngModel)]="someValue" (ionInput)="searchThis($event)" (ionCancel)="cancelSearch($event)" (ionClear) = "cancelSearch($event)" [showCancelButton]="true"></ion-searchbar>

  <ion-slides class="bannerslider" autoplay="5000" loop="true">
    <ion-slide *ngFor="let slide of slides">
      {{slide.h1}}
    </ion-slide>
  </ion-slides>

  <ion-item>
    <ion-scroll scrollX style="height:80px;margin-top:-10px">
      <div class="scroll-item">
          <ion-spinner name="circles" *ngIf="categorys == 0" style="top:10px;" >
          </ion-spinner>
        <ion-col col-33 *ngFor="let category of categorys">
          <div class="acard acard-1" (click)="openCategory(category.id)">
            <img src="{{category.image.src}}" height="40" width="40">
            <p style="font-size: 0.8em;">{{category.name}}</p>
          </div>
        </ion-col>
      </div> 
    </ion-scroll> 
  </ion-item>

  <ion-grid>
      <ion-spinner name="circles" *ngIf="product == 0">
        </ion-spinner>
    <ion-row *ngFor="let row of grid">
      <ion-col width-50 *ngFor="let key of row">
      <div *ngIf="key">
       <productloop  images="{{key.images[0].src}}" id="{{key.id}}" name="{{key.name}}" price="{{key.price}}" sale-price="{{key.sale_price}}" regular-price="{{key.regular_price}}" priceHtml="{{key.price_html}}"></productloop>
       </div>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasMoreData">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>


</ion-content>
