page-cartlist {
    .hmenu{
        font-size:2.8rem !important;
        margin-right:15px;
    }

    ins span.woocommerce-Price-amount.amount{
        right: 30%;
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    color: #d94239;
    text-decoration: underline;
    }
    .item-ios ion-thumbnail img, .item-md ion-thumbnail img{
        height: auto !important;
    }
    .item-ios ion-thumbnail img{
        width:80px !important;
    }
}
